

#signup{
    margin: auto;
    height: 58vh;
    padding: 20px 10px 20px 20px;
    background-color: #fff;
  }
  input {
    width: 90%;
    padding: 10px;
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    margin: 10px 0px 10px 0px ;
   
  }
  .btn {
    margin-top: 20px;
    width: 95%;
    padding: 10px;
    border-radius: 20px;
    font-weight: bold;
    border: none;
    background-image: linear-gradient(to right, teal, green);
    color: #ffff;
  }
  .btn:hover{
    background-image: linear-gradient(to right, red,blue);
  }
  .heading {
    text-align: center;
    font-family: cursive;
  }
  label {
  color: black; 
  font-family: 500;
    font-size: 20px; 
    font-family: cursive;
  }
  #animationContainer {
    position: relative;
    width: 35%;
    margin: auto;
    overflow: hidden;
    padding: 10px 10px;
    margin-top: 55px;
    margin-bottom: 55px;
    border-radius: 5px;
  }
  #animationRound {
    position: absolute;
    width: 100%;
    height: 100%;
    scale: 2.2;
    background-image: linear-gradient(
      90deg,
      rgba(213,62,51,1)25% ,
      rgba(209,167,52,1)25% ,
      rgba(209,167,52,1)50% ,
      rgba(55,122,245,1)50%,
      rgba(55,122,245,1)75%,  
      rgba(57,153,83,1)75%
    );
    z-index: -1;
    animation: rotate 10s linear infinite;
  }
  @keyframes rotate{
  from{
    transform: rotate(360deg);
  }
  to{
    transform: rotate(-360deg);
  }
  }
  .forLogin{
    text-align: center;
    padding-top: 5px;
  }
  .forLogin>a{
    color: teal;
    text-decoration: none;
  }
  .forLogin>a:hover{
    color: teal;
    text-decoration: underline;
  }
  body {
  margin: 0%;
  padding: 0%;
}

/* Navbar */

#navbar {
  height: 9vh;
  width: 100%;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 5%;
  padding-right: 5%;
  background-color: rgba(65, 63, 48, 255);
}

.logo {
  height: 50px;
  width: 150px;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 10px 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover {
  color: rgb(78, 192, 236);
  transition: 0.3s;
}
#btn {
  border-color: white;
  background-color: rgba(65, 63, 48, 255);
  padding: 12px 30px;
  border-radius: 30px;
  color: white;
  font-weight: bold;
  font-size: 15px;
  transition: 0.4s;
}

#btn:hover {
  transform: scale(1.3);
  cursor: pointer;
  color: rgb(130, 251, 251);
}
@media only screen and (max-width: 930px) and (min-width: 501px) {
    
    #navbar {
        height: 1vh;
    }
    
    #navbar ul{
        display: none;
    }

    
    }

    @media only screen and (max-width: 500px) {
      
    #navbar {
        height: 3vh;
    }
    #navbar ul{
        display: none;
    }

   

    }
