body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }

  #navbar {
    height: 1vh;
    width: 100%;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
    background-color: rgba(65,63,48,255);
}
.logo {
    height: 50px;
    width: 150px;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
}

nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: rgb(78, 192, 236);
    transition: .3s;
}

#btn {
    border-color: white;
    background-color: rgba(65,63,48,255);
    padding: 12px 30px;
    border-radius: 30px;
    color: white;
    font-weight: bold;
    font-size: 15px;
    transition: .4s;
}
#btn:hover {
    transform: scale(1.3);
    cursor: pointer;
}
  main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    margin-top: 100px;
  }
  section {
    margin-bottom: 40px;
  }
  h2 {
    margin-top: 0;
  }
  label {
    margin-bottom: 10px;
  }
  input[type="submit"] {
    margin-top: 10px;
    padding: 5px;
    font-weight: bold;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  input[type="submit"]:hover {
    background-color: #444;
  }
  footer {
    background-color: #ccc;
    padding: 10px;
    text-align: center;
    font-size: 14px;
  }
.donate {
  align-items: center;
  background-color: #0A66C2;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
}

.donate:hover,
.donate:focus { 
  background-color: #16437E;
  color: #ffffff;
}

.donate:active {
  background: #09223b;
  color: rgb(255, 255, 255, .7);
}

.donate:disabled { 
  cursor: not-allowed;
  background: rgba(0, 0, 0, .08);
  color: rgba(0, 0, 0, .3);
}

@media only screen and (max-width: 930px) and (min-width: 501px) {
        
    #navbar {
        height: 1vh;
    }
    
    #navbar ul{
        display: none;
    }
}

@media only screen and (max-width: 500px) {
     
        #navbar {
            height: 3vh;
        }
        #navbar ul{
            display: none;
        }
    /* display: none; */
}